<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add an event</title>
</head>
<body>
<form th:action="@{'/events/edit/' + ${event.id}}" method="POST">
  <label>Name:</label>
  <input type="text" name="name" th:value="${event.name}" required>

  <label>Description:</label>
  <input type="text" name="description" th:value="${event.description}" required>

  <label>Popularity Score:</label>
  <input type="number" name="popularityScore" th:value="${event.popularityScore}" required>

  <label>Location:</label>
  <select name="locationId" required>
    <option th:each="location : ${locations}"
            th:value="${location.id}"
            th:text="${location.name}"
            th:selected="${event.location != null and location.id == event.location.id}">
    </option>


  </select>

  <button type="submit">Save Changes</button>
</form>


</body>
</html>